.tile_center {
  text-align: center;
}

.title_p {
  height: 45%;
}

table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 20%;
}

.dialog_open_btn {
  margin-left: 65%;
}

td, th {
  width: 25%;
}

.spinner {
  position: fixed;
  z-index: 1031;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}